/* ---------------- CSS Resets/Variables ---------------- */

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

input[type=text],
input[type=email],
input[type=password] {
    -webkit-appearance: none;
    appearance: none;
}

:root {
    --border-std: 5px solid #A9BBB5;
}

/* ---------------- Font Imports ---------------- */

@font-face {
    font-family: 'josefinsans-light';
    src: url('./static/fonts/josefinsans-light-webfont.woff2') format('woff2'),
         url('./static/fonts/josefinsans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'josefinsans-reg';
    src: url('./static/fonts/josefinsans-regular-webfont.woff2') format('woff2'),
         url('./static/fonts/josefinsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pacifico';
    src: url('./static/fonts/pacifico-webfont.woff2') format('woff2'),
        url('./static/fonts/pacifico-webfont.woff') format('woff');
    font-weight: normal;
    font-style:normal;
}

/* ---------------- Overarching CSS ---------------- */

body {
    font-family: 'josefinsans-reg', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.4rem;
    height: 100vh;
    user-select: none;
}

main {
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
}

/* ---------------- Image Section ---------------- */

.image-container {
    background-image: url('./static/images/dominik-perau-XvUmit29MJ8-unsplash.jpg');
    background-size: 100%;
    flex: 1 auto;
    position: relative;
    height: 100%;
    width: 50%;
}

.image-container .logo-container {
    background-color: #375060;
    border-bottom: var(--border-std);
    border-top: var(--border-std);
    padding: 20px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
    top: 200px;
    width: 100%;
}

.image-container .logo-container > h1 {
    color: #A9BBB5;
    display: relative;
    position: relative;
    font-family: 'pacifico', 'Verdana', 'Geneva', 'Tahoma', sans-serif;
    font-size: 2.7rem;
    letter-spacing: 4px;
}

.image-container .logo-container > h1::before {
    content: '';
    position: absolute;
    top: -20px;
    bottom: -5px;
    right: -48px;
    left: -15px;

    border-bottom: var(--border-std);
    border-left: var(--border-std);
    border-bottom-left-radius: 20px;
    opacity: 0.3
}

.image-container .logo-container > h1::after {
    content: '';
    position: absolute;
    top: -5px;
    bottom: -20px;;
    right: -28px;
    left: -33px;

    border-right: var(--border-std);
    border-top: var(--border-std);
    border-top-right-radius: 20px;
    opacity: 0.4;
}

/* ---------------- Form Section ---------------- */

.form-container {
    letter-spacing: 2px;
    line-height: 1.3;
    width: 50%;
    padding-top: 100px;
}

.form-container p {
    margin: 0 100px 15px;
}

.form-container p span {
    font-family: 'pacifico';
    font-style: italic;
}

.form-container form {
    margin: 50px 0;
    width: 100%;
}

.form-container form fieldset {
    border: none;
}

.form-container form fieldset legend {
    font-family: 'pacifico', 'Verdana', 'Geneva', 'Tahoma', sans-serif;
    font-size: 2.6rem;
    margin: 0 0 30px 100px;
}

.form-layout {
    box-shadow: 2px 7px 7px #375060;
    display: flex;
    padding-bottom: 30px;
    flex-flow: row wrap;
    width: 98%;
}

.form-row {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.form-row input[type=text],
.form-row input[type=email],
.form-row input[type=password] {
    background-color: #d3eee5;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 6px;
    margin-bottom: 30px;
    width: 300px;
}

.form-row input[type=text]:hover,
.form-row input[type=email]:hover,
.form-row input[type=password]:hover {
    background-color: #FFFFFF;
}

.form-row input[type=text]:focus,
.form-row input[type=email]:focus,
.form-row input[type=password]:focus {
    background-color: #FFFFFF;
    outline: var(--border-std);
    outline-offset: 1px;
}

.form-row ul li {
    display: none;
    position: relative;
    list-style: none;
    margin-left: 18px;

    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
}

.form-row li::before {
    content: '';
    background-color: #375060;
    position: absolute;
    top: 8px;
    left: -18px;

    height: 10px;
    width: 10px;
    border-radius: 50%;

}

.form-row input[type=text]:valid,
.form-row input[type=password]:valid,
.form-row input[type=email]:valid {
    background-image: url('./static/images/check-mark-svgrepo-com.svg');
    background-repeat: no-repeat;
    background-size: 8%;
    background-position: 265px;
} 

button[type=submit] {
    background-color: #375060;
    border: none;
    border-radius: 5px;
    color: #d3eee5;
    font-family: inherit;
    font-size: inherit;
    margin: 50px 0 25px 100px;
    padding: 15px 30px;
}

button[type=submit]:hover {
    transform: scale(1.2);
}

button[type=submit]:active {
    background-color: #d3eee5;
    color: #375060;
}

.form-container form fieldset p {
    font-family: 'josefinsans-light', 'Verdana', 'Geneva', 'Tahoma', sans-serif;
}

form a {
    color: #375060;
    position: relative;
    font-weight: 700;
}

form a::after {
    content: '';
    position: absolute;
    border-bottom: var(--border-std);
    top: 0;
    bottom: -5px;
    right: 0;
    left: 0;

    transform: scale(0, 1);
    transform-origin: left;
    transition: all ease-out 300ms;
    -webkit-transition: all ease-out 300ms;
    -moz-transition: all ease-out 300ms;

}


form a:hover::after {
    transform: scale(1);
}

footer {
    position: absolute;
}

/* Responsive Queries */